.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.App-header {
  background-color: #8884D8;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 15vh;
  height: 15vh;
}

.App-body {
  background-color: #8884D8;
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 4%;
  margin-top: -1.5%;
  padding-bottom: 1.5%;
}

.crowd-data {
  background-color: white;
  box-shadow: 0 0 10px rgba(238, 229, 255, 0.7);
  height: 80%;
  width: 40%;
  padding: 12px;
}

.crowd-counter {
  align-self: center;
  vertical-align: bottom
}

.App-link {
  color: #61dafb;
}

.crowd-chart {
  height: 600px;
  width: 1000px;
  align-self: left;
}

.trend-chart {
  height: 600px;
  width: 1000px;
  align-self: right;
}
